body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(244, 244, 244);
}

header {
  background-color: rgb(255, 209, 0);
  padding-left: 50px;
  height: 55px;
}
#header_logo {
  width: 120px;
  height: 20px;
  padding: 20px;
}

nav {
  float: right;
  padding-right: 315px;
}

#header_tab {
  float: left;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

#header_tab_a {
  padding: 20px;
  color: black;
  text-decoration: none;
}

#header_tab_a:hover {
  background: black;
  color: #fff;
}
.login_register {
  position: absolute;
  top: 15px;
  right: 88px;
}
.login_register a {
  text-decoration: none;
}
.div_banner {
  padding-top: 10px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn_shift_left {
  width: 60px;
  height: 60px;
  position: relative;
  right: -60px;
  padding: 10px;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 35px;
  visibility: hidden;
  background-color: #111;
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
  z-index: 8999;
}

.btn_shift_right {
  width: 60px;
  height: 60px;
  position: relative;
  left: -60px;
  padding: 10px;
  border: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 35px;
  visibility: hidden;
  background-color: #111;
  opacity: 0.7;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
  z-index: 5555;
}
.btn_shift_right:hover {
  background-color: #efefef;
  opacity: 0.7;
}
.btn_shift_left:hover {
  background-color: #efefef;
  opacity: 0.7;
}

.img_banner {
  width: 75%;
  max-height: 600px;
  cursor: pointer;
  border-radius: 5px;
}
#recommond {
  display: flex;
  margin: auto;
  width: 75%;
  padding-top: 50px;
  justify-content: space-between;
}
#recommond li {
  float: left;
  margin: 0px;
  padding: 2px;
  list-style: none;
  text-align: center;
}
.content_category_tab {
  margin: auto;
  position: relative;
  width: 100%;
  height: auto;
  left: 35%;
  text-align: center;
}
#content_category_tab_li {
  float: left;
  list-style: none;
  padding: 10px;
  position: relative;
  padding: 1em 2em;
  font-size: 16px;
  list-style: none;
  white-space: nowrap;
}
#content_category_tab_li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: 0.1s all linear;
}
#content_category_tab_li::after {
  left: 100%;
}
#content_category_tab_li:hover::after {
  width: 100%;
}
#content_category_tab_li:hover::after {
  left: 0;
}
#content_category_tab_li:hover ~ #content_category_tab_li::after {
  left: 0;
}
#content_category_tab_li a {
  text-decoration: none;
  color: rgb(163, 157, 157);
}

.data_list {
  margin-top: 100px;
}
.data_list img {
  width: 210px;
  height: 168px;
}
.page_select {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.page_select li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.page_select li a {
  float: left;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: rgb(124, 121, 121);
  display: block;
  width: auto;
  height: auto;
  font-size: 16px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.page_select li a:hover,
a :visited {
  border: 2px solid rgb(255, 209, 2);
  background-color: rgb(255, 209, 2);
  color: black;
  border-style: solid;
}
#page_selected {
  border: 2px solid rgb(255, 209, 2);
  background-color: rgb(255, 209, 2);
  color: black;
  border-style: solid;
}
footer {
  width: 100%;
  height: 200px;
  background: rgb(46, 41, 41);
  padding-left: 250px;
  padding-top: 10px;
}

footer li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li a {
  float: left;
  margin: 0px;
  padding: 10px;
  color: rgb(109, 107, 107);
  text-decoration: none;
  text-align: center;
}

.footer-wrapper-bottom {
  padding-top: 100px;
}
.footer-wrapper-bottom a {
  color: rgb(109, 107, 107);
  padding-top: 100px;
  margin: 20px;
}
.space-footer-bottom {
  padding-top: 20px;
}
.space-footer-bottom a,
span {
  color: rgb(109, 107, 107);
  padding-top: 200px;
  margin: 20px;
}
